@import '../../../styles/theme';
@import '../../../styles/mixins';

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-main);
  min-height: 100vh;
}

.content-wrapper {
  flex: auto;
  padding: space(1.5) 0;
}

.content {
  margin: 0 space(3);
  display: flex;

  .left {
    width: 350px;
    margin-right: space(3);
  }

  .main {
    flex: auto;
    background-color: var(--bg-card);
    padding: space(1.5) space(2);
    border-radius: $border-radius-base;
    border: 1px solid var(--border-color);
  }

  .right {
    width: 400px;
    margin-left: space(3);
    background-color: var(--bg-card);
    padding: space(1.5) space(2);
    overflow: hidden;
    border-radius: $border-radius-base;
    border: 1px solid var(--border-color);
  }
}
