@import '../styles/theme';
@import '../styles/mixins';

.container {
  padding: space(3) 0;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.left {
  width: 120px;
}

.right {
  flex: 1;
  margin-left: space(7);
}
