@import '../../../styles/theme';
@import '../../../styles/mixins';

.header-wrapper {
  background-color: var(--bg-card);
  border-bottom: 1px solid var(--border-color);
  padding: space(1.5) 0;
}

.header {
  display: flex;
  margin: 0 space(3);

  .left {
    flex: 1;

    h1 {
      font-size: $font-size-lg;
      margin-bottom: 0;
      line-height: 1;
      color: var(--text-main);
      font-weight: 600;
    }
  }

  .right {
    flex: 1;
    text-align: right;
  }

  .main {
    flex: 1;
    text-align: center;
  }
}
