@import '../../../styles/theme';
@import '../../../styles/mixins';

.canvas {
  min-height: 100%;
  background-color: var(--bg-card);
  overflow: hidden;
}

.component-wrapper {
  margin: space(1.5);
  border: 1px solid transparent;
  padding: space(1.5);
  border-radius: $border-radius-base;
  @include transition(all);

  &:hover {
    border-color: var(--border-color);
  }
}

.selected {
  border-color: var(--color-primary) !important;
  box-shadow: 0 0 0 2px var(--color-primary-glow);
}

.locked {
  opacity: .5;
  cursor: not-allowed;
}

.component {
  pointer-events: none;
}
