@import '../../../styles/theme';
@import '../../../styles/mixins';

.wrapper {
  padding: space(0.75) 0;
  border-bottom: 1px solid var(--border-color);
  display: flex;

  .title {
    flex: auto;
    line-height: 2;
    color: var(--text-main);
  }

  .selected {
    color: var(--color-primary);
    font-weight: 500;
  }

  .handler {
    width: 50px;
    text-align: end;

    .btn {
      opacity: .2;
      @include transition(opacity);
    }
  }

  &:hover {
    .handler {
      .btn {
        opacity: 1;
      }
    }
  }
}
